*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
height:fit-content;
background-color:aliceblue;
justify-content: center;
}


.head_nav{

    display: flex;
    flex-direction: column;
    
}
.nav_menu{
    
    list-style:none;
    margin:10px auto;
    font-size: x-large;
}
.nav_list{

    display: flex;
    flex-direction: column;
    
/* padding-left:50px;
padding-right:50px; */
}
a{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
   color: #9e9e9e;
   margin-top: 10px;
    font-weight: bold;
    
}
a:hover{
    text-decoration: none;
    color: rgb(26, 24, 24)
}

main{

    width: 100%;
    height: 100vh;
}

.cl_container{
display: flex;
width: 100%;
height: 100%;
justify-content: center;
/* text-align: center; */
align-items: center;
/* padding-top:25px */
flex-direction: column;
}
.text_container{
background-color: black;
color: aliceblue;
margin-bottom: 10px;
padding: 10px;
border-radius: 10px;
}
.btn{

    background-color: aliceblue;
    width: 200px;
    padding:10px;
    font-weight: bold;
    cursor: pointer;
    border:1px solid grey;
    border-radius: 10px;
}
.btn:hover{

    background-color: rgb(198, 200, 202);
  color: aliceblue;
  transition: all 0.5s;
}
footer{
    background-color: whitesmoke;
height: 20vh;
}

.navDiv{

    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
}

#copyright{

    padding-top: 10px;
}