*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
width: 100%;
height: fit-content;
background-color:#e91e63;
}
.nav_container{

    display: flex;
justify-content:space-around;

    
}
.nav_menu{
    display: flex;
    list-style: none;
    flex-direction: column;
}
.nav_menu li{
    display: flex;
  
}
a{
color: white;  
font-weight: 300;
  letter-spacing: 2px;  
  text-decoration: none;
     padding: 15px 0px; 
      display: inline-block; 
       width: 100%; 
        text-align: center;
}


.cal_container{
    margin-top: 50px;

    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.process{
padding: 10px;
  color:whitesmoke;
  font-size: larger;
}

.result{
    padding: 10px;
  color:whitesmoke;
  font-size: x-large
}

.outPut{
background-color:#8bc34a;
border-radius: 5px;
    display: flex;
    flex-direction: column;
    width:initial;
padding-bottom: 20px;
margin-bottom: 25px;
}

.inPut{
display: grid;
grid-template-columns: repeat(4, 1fr); /* Generate 4 columns of equal 1 fraction each */
/* grid-template-rows: repeat(6, 1fr);  */
font-family: sans-serif;
font-weight: bold;
font-size: 18px;
}


.btn{
    border-radius: 5px;
width: 100px;
height: 50px;
color: aliceblue;
font-size: large;
background-color: #8bc34a;
border: 1px solid whitesmoke;
cursor: pointer;
}

.btn:hover{
    background-color: rgb(244, 16, 61);
/* background-color: #93da42; */
}

#forward_btn{
    grid-area: 2 / 1 / 3 / 2;
}
#backward_btn{
    grid-area: 2 / 2 / 3 / 3;
}
#del_btn{
    grid-area: 2 / 3 / 3 / 4;
}
#seven_btn{
    grid-area: 3 / 3 / 4 / 4;
    /* grid-area: 2 / 4 / 3 / 5; */
}
#nine_btn{
    grid-area: 3 / 1 / 4 / 2;
   
}
#eight{
    grid-area: 3 / 2 / 4 / 3;
}

#minus_btn{
    grid-area: 2 / 4 / 3 / 5;
}
#six_btn{
    grid-area: 5 / 3 / 6 / 4;
    
}
#five_btn{
    grid-area: 4 / 1 / 5 / 2;
}
#four_btn{
    grid-area: 4 / 2 / 5 / 3;
}
#plus{
    grid-area: 4 / 4 / 5 / 5;
}
#three_btn{
    grid-area: 4 / 3 / 5 / 4;
    
}
#Two_btn{
    grid-area: 5 / 1 / 6 / 2;
}
#One_btn{
    grid-area: 5 / 2 / 6 / 3;
}
#x_btn{
    grid-area: 3 / 4 / 4 / 5;
    
}
#zero_btn{
    grid-area: 6 / 2 / 7 / 2;
  
}
#divide_btn{
    grid-area: 5 / 4 / 6 / 5;

}
#clr_btn{
    grid-area: 6 / 1 / 7 / 3;
   /* Start at Row 1, Start at Column 1, End at Row 2 and End at Column 5 */
   
}
#dot_btn{
    grid-area: 6 / 3 / 7 / 4;
}
#equal_btn{
    grid-area: 6 / 4 / 7 / 5;
}



footer{
    width: 100%;
    height: fit-content;
    background-color:#e91e63;
}

.navDiv{

    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
}

#copyright{

    padding-top: 5px;
}
#dot_btn{

font-size: large;

}

@media screen and (max-width:400px){

    .outPut{
        background-color:#5a5fb7;
        border-radius: 5px;
            display: flex;
            flex-direction: column;
            width:initial;
        padding-bottom: 20px;
        margin-bottom: 25px;
        }

    .btn{
        border-radius: 5px;
  width: 80px;
  height: 30px;
    color: aliceblue;
    font-size: large;
    background-color: #5a5fb7;
    border: 1px solid whitesmoke;
    cursor: pointer;
    }






}



@media screen and (max-width:350px){

    .outPut{
        background-color:#995abd;
        border-radius: 5px;
            display: flex;
            flex-direction: column;
            width:initial;
        padding-bottom: 20px;
        margin-bottom: 25px;
        }

    .btn{
        border-radius: 5px;
  width: 50px;
  height: 30px;
    color: aliceblue;
    font-size: large;
    background-color: #995abd;
    border: 1px solid whitesmoke;
    cursor: pointer;
    }






}


@media screen and (max-width:250px){

    .outPut{
        background-color:#bd5a94;
        border-radius: 5px;
            display: flex;
            flex-direction: column;
            width:initial;
        padding-bottom: 20px;
        margin-bottom: 25px;
        }

    .btn{
        border-radius: 5px;
  width: 30px;
  height: 30px;
    color: aliceblue;
    font-size: large;
    background-color: #bd5a94;
    border: 1px solid whitesmoke;
    cursor: pointer;
    }






}