*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
main{
    margin-top: 150px
}

header{
    background-color:#607d8b;
    height: 20vh;
}

.head_nav{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_menu{
    display: inline;
    list-style:none;
    margin:10px auto;
    font-size: x-large;
}
.nav_list{
    display: inline-block;
   
padding-left:50px;
padding-right:50px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
a:hover{
    text-decoration: none;
    color: rgb(220, 211, 211)
}
footer{
    background-color: #607d8b;
    /* background-color:#607d8b; */
    height: 20vh;
    margin-top: 158px;
}
.time_watch_container{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    background-color:rgb(186 196 175 / 49%);
    padding-bottom:  10px;
    padding-top:  10px;
}

.date{
    display: flex;
    justify-content: center;
    color: royalblue;
}
#time-header{
    display: flex;
    justify-content: center;
    color: grey;
}


.wt_main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: grey 1px solid;
    background-color:rgb(186 196 175 / 49%);
width: 100%;
height: 100%;
padding-bottom:  10px;
padding-top:  10px;

}
#stop_watch_header{
    color: grey;

}
#stop_watch{
    color: crimson;
    padding-left: 20px;

}


.watch_btn{
width: 50px;
height: 30px;
margin: 6px;
    background-color: #f0f9f9;
    color:grey;
    border-radius: 10px;
    border: #f0f9f9 1px solid;
    cursor: pointer;
    font-weight: bold;
}
.watch_btn:hover{
    color:white;
        background-color: #ced6d6;
        border: #f0f9f9 1px solid;
     transition: all ease-in 0.5s;
    }

    .watch_btn:disabled{
        color:grey;
   cursor:unset;
       
            background-color: #bcc1c1;
            border: #f0f9f9 1px solid;
         transition: all ease-in 0.5s;
        }




        .counter_div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-top: grey 1px solid;
            background-color:rgb(186 196 175 / 49%);
        width: 100%;
        height: 100%;
        padding-bottom:  10px;
        padding-top:  10px;
        }

        #counter_header{

color: grey;
        }

        #counter_h1{

            color: green;
        }

        .counter_btn{
            width: fit-content;
            padding: 5px;
            height: 30px;
            margin: 6px;
                background-color: #f0f9f9;
                color:grey;
                border-radius: 10px;
                border: #f0f9f9 1px solid;
                cursor: pointer;
                font-weight: bold;

        }

        .counter_btn:hover{
            color:rgb(76, 70, 70);
                background-color: #ced6d6;
                border: #f0f9f9 1px solid;
             transition: all ease-in 0.5s;
            }